.column-res {
    float: left;
    width: 50%;
    padding: 2.5%;
  }
  
  /* Clear floats after the columns */
  .row-res:after {
    content: "";
    display: table;
    clear: both;
  }
  .image-res{
    width: 400px;
    height: 400px;
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  .container-ver {
    height: 400px;
    position: relative;
  }
  @media screen and (max-width: 800px) {
    .column-res {
      width: 100%;
    }
    .image-res{
        width: 250px;
        height: 250px;
    }
    .container-ver{
        height: 200px;
        /* padding: 50px; */
        /* margin-top: 50px;
        margin-bottom: 50px; */
    }
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    padding: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .vertical-center h2 { color: #A52A2A; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }


 .vertical-center p { color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }

 .list-res{
    padding:20px;
 }
 .list-res h2 { color: #A52A2A; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }


 .list-res p { color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px; margin: 0 0 14px; }