.main-container{
    width: 80%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:1000px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}
.main-container h1{
  color: #A52A2A;
  padding: 10px;

}
.card{
    text-align:left;
    padding: 20px;
}
.card h2 { color: #A52A2A; font-family: 'Open Sans', sans-serif;font-weight: 300; line-height: 32px; margin-top:12px;}
.card a{
  text-decoration: none;
  color: #E34234;
  font-size: 15px;
}
.card a:hover{
  text-decoration: underline;
}

.card p { color: #222; font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; line-height: 24px;text-align: justify; }